<div class="col-md-12" ng-controller="FilesCtrl">

    <form name="fileForm" ng-submit="create(name)" enctype="multipart/form-data">
        <input type="text" id="nameInput" ng-model="name">
        <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
        <div class="form-group">
          <button type="submit" class="btn btn-default">salvar arquivo</button>
        </div>
    </form>


    <div ng-repeat="file in files">
        <h1>{{file.name}}</h1>
        <img src="{{file.content}}" alt="{{file.name}}" />
    </div>


</div>
